@{
    ViewBag.Title = Resources.Resources.Biography;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="biography">
    <a href="@Url.Content("~/Content/img/biography/biography.jpg")" data-lightbox="biography" title="photo KIRILL BASALAEV">
        <img src="@Url.Content("~/Content/img/biography/biography.jpg")" />
    </a>
    <div class="biography-text">
        Наташа Юдина<br/>
        <br/>
        Родилась в 1982 в г. Томске. <br/>
        <br/>
        2008 – окончила курсы Института проблем современного искусства (Москва). <br/>
        2000-2003 – училась в Томском Государственном Университете на отделении изобразительного искусства. <br/>
        2012 – персональная выставка «18+» / «Постельные сцены», Gridchinhall (Московская область, село Дмитровское). <br/>
        2011 – куратор выставки Artmuseum Project. Форум актуального искусства, Томский Областной Художественный Музей (Томск). <br/>
        2012, 2011 – участник международного симпозиума современного искусства «Nord Art» (Büdelsdorf, Germany). <br/>
        2009 – персональная выставка – акция «Игрушки» (Томский Дом Художника). <br/>
        С 2007г. Принимает участие в Московских и Санкт-Петербургских выставках: <br/>
        Выставка иллюстраторов «Институт улыбки» А. Бартенева (Москва), <br/>
        «Переучет» – в рамках проекта «Сессия молодого искусства», куратор – Аня Желудь <br/>
        (Санкт-Петербург), Арт-Москва2008 (выставка выпускников Института проблем современного <br/>
        искусства), проект «М’арсово поле» - в рамках I Биеннале Молодого Искусства, <br/>
        Цси М’арс (Москва), Галерея современного искусства «Обочина» - в рамках «Приватколлекшн» Ани Жёлудь.
    </div>
    <div><a href="http://kirill-basalaev.tumblr.com/" class="photo-by" target="_blank">photo KIRILL BASALAEV</a></div>
</div>