body {
    font-size: .85em;
    font-family: tahoma, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.main {
    width: 1000px;
    margin: 0 auto;
}

.header-content {
    height: 130px;
    position: relative;
}

.header-content .logo {
    position: absolute;
    background-image: url(../Content/img/logo.png);
    width: 400px;
    height: 77px;
}

.header-content .main-menu {
    float: right;
    margin-top: 80px;
}

.header-content .main-menu span {
    margin-left: 20px;
}

.header-content .main-menu span a {
    text-decoration: none;
    color: rgb(107, 107, 107);
    transition: all 0.2s ease;
    font-size: 12px;
}

.header-content .main-menu span a:hover {
    color: rgb(122, 185, 214);
}

.pano {
    width: 900px;
    height: 400px;
    margin: 30px auto;
}

.pano .row .pano-element {
    width: 150px;
    height: 100px;
    overflow: hidden;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    cursor: pointer;
    transition: all 0.2s ease;
}

.pano .row .pano-element:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.pano .row .pano-element img {
    height: 100%;
}